*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
#header{
    background-color: #424141;
    width: 100vw;
}

.container{
    width: 80%;
    margin: auto;
    color: rgb(255, 255, 255);
}
.inner-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img img{
    width: 150px;
    padding-top: 5px;
}
.menu{
    width: 70%;
}
.menu ul{
    list-style: none;
    text-align: right;
}
.menu ul li{
    display: inline-block;
    padding: 20px;
    
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.menu ul li a:hover{
    color: red;