*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

/* header area start */
#header{
    background-color: #424141;
    width: 100vw;
}

.container{
    width: 80%;
    margin: auto;
}
.inner-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img img{
    width: 150px;
    padding-top: 5px;
}
.menu{
    width: 70%;
}
.menu ul{
    list-style: none;
    text-align: right;
}
.menu ul li{
    display: inline-block;
    padding: 20px;
    
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
    text-transform: uppercase;
}
.menu ul li a:hover{
    color: red;
}
/* header area ends here */

/* hero area starts here */

#home{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/background.png), linear-gradient(90deg, rgb(5, 5, 5), #2e2e2e);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.inner-hero-area{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
}
.hero-caption{
    width: 55%;
    color: #ffffff;

}
.title{
    font-size: 54px;
    font-weight: bold;
    line-height: 1.4;
    padding-bottom: 10px;

}
.despriction{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}
.btn{
    color: rgb(255, 255, 255);
    background-color: red;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: 0.3s;
}
.btn:hover{
    background-color: #f1bc47;
    color: #000000;
}

.hero-photo-area{
    width: 45%;
    text-align: center;
}
.photo{
    width: 300px;
}
/* hero area ends here */

/* about area start css */
#about{
    background-color: #ffffff;
    width: 100vw;
}
.inner-about{
    width: 100%;
    margin: 30px 0px;
}
.heading{
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}
.about-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-photo{
    width: 60%;

}
.about-caption{
    width: 400px;
}
.about-caption h2{
    font-size: 30px;
    margin-bottom: 15px;
}
.about-caption p{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}
/* about area end css */

/* service area start css */
#service{
    width: 100vw;
    background-image: url(../images/background.png), linear-gradient(90deg, rgb(5, 5, 5), #2e2e2e);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 50px 0px;
}
#service h1{
    color:#ffffff;
}
.service-category-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.service-category{
    width: 220px;
    padding: 10px;
    background: transparent;
    border-radius: 15px;
    box-shadow: 4px  2px 105px gray;
}
.service-category img{
    display:block;
    width: 70px;
    margin: 15px auto;
}
.service-category h3{
    font-size: 24px;
    margin: 15px 0px;
}
.service-category button{
    padding: 10px 18px;
    color: #fff;
    background-color: #1C1B1B;
    margin: 20px 0px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 0.2s;
}
.service-category button:hover{
    color: #000000;
    background-color: #f1bc47;
}
/* service area end css */

/* contact area start css */
#contact{
    width: 100vw;
    background-color: #000000;
}
.inner-contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
    color: #fff;
}
.contact-single-wrap{
    width: 200px;
}
.large-divider{
    width: 230px;

}
.large-divider img{
    width: 200px;
    margin-bottom: 15px;
    
}
.large-divider p{
    line-height: 1.5;
    margin: 10px 0px 30px;
}
.contact-single-wrap h4, .contact-single-wrap h3{
    font-size: 20px;
    margin-bottom: 30px; 
}

.contact-single-wrap ul{
    list-style: none;
}
.contact-single-wrap ul li{
    margin: 10px 0px;
}
/* contact area end css */